
#root {
  display: flex;
  font-family: monospace;
}

#left-bar {
  width: 15%;
  margin: 1%;
  padding: 3%;
  border-width: 1%;
  border-color: white;
  background-color: #5db1ab;
}

#main {
  margin: 1%;
  padding: 1%;
  height: auto;
  width: 70%;
}

.info-bar {
  margin: 2%;
  padding: 1%;
  background-color: #25736e;
  color: white;
  cursor: pointer;
}

.information {
  background-color: #5db1ab;
  margin: 2%;
  padding: 1%;
}

.inactive {
  display: none;
}