

.title {
    color: blue;
    padding: 10px;
}

.sidebar {
    width: 150px;
    float: left;
}

.changing-box {
    text-align: center;
    border-radius: 10px;
    border-top-width: 30px;
    border-bottom-width: 30px;
    background-color: cadetblue;
    border-color: black;
}

.contents {
    padding-top: 20px;
    padding-left: 200px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
}